/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(247, 181, 119, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.purchase-btn {
    background: #ff4500;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
}
.caption {
    /* width: 35%; */
    padding: 30px;
    background: rgba(255, 255, 255, 0.7); /* Transparent but readable */
    border-radius: 10px;
    text-align: center;
    margin-top: 10%;
}

.caption h1 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #ff4500;
}

.caption p {
    font-size: 18px;
    color: black;
}
.contact-now {
    display: inline-block;
    background: #ff4500;
    color: white;
    padding: 12px 20px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f5ac5f;
    color: #6c757d;
    font-size: 14px;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #6c757d;
    margin: 0 15px;
    font-size: 16px;
}

.footer-links a:hover {
    color: black;
}

hr {
    width: 90%;
    margin: 10px auto;
    border: 0;
    height: 1px;
    background: #ddd;
}
